/* -------------------------------  RESET  ------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

input {
  outline: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="text"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}
select {
  outline: 0;
}
:focus {
  outline: none;
}

/* -------------------------------  BASE STYLES  ------------------------------- */

body {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  background: #fff;
  font-size: 14px;
  line-height: 1.2;
  color: #160f0f;
}
img {
  width: 100%;
}

.wrap {
  max-width: 1300px;
  padding: 0 60px;
  margin: 0 auto;
}
.title {
  font-size: 32px;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .wrap {
    padding: 0 20px;
  }
  .title {
    font-size: 22px;
  }
}

/* ------------------------------- HOME ------------------------------- */

/* header */

/* ... your code here ... */

.containers-page h1 {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0.02em;
  color: #0962e8;
}

.containers-page > div {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  margin-bottom: 5vh;
}

.containers-page .block-text,
.containers-page .block-img {
  margin-right: 1vw;
}

.containers-page .block-text {
  width: 48%;
  float: left;
  font-size: 44px;
}

.containers-page .block-text button {
  background: #0962e8;
  border-radius: 10px;
  padding: 15px 10px;

  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
  cursor: pointer;
}

.containers-page .block-text .opis {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-feature-settings: "case" on, "zero" on;

  color: #062b61;
}

.containers-page .block-img {
  width: 48%;
  float: left;
}

.containers-page .block-text .head {
  /* title */

  position: absolute;
  width: 470px;
  height: 114px;
  left: calc(50% - 470px / 2 - 245px);
  top: 155px;

  /* H1 */
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0.02em;

  color: #0962e8;
}

.containers-page a.btn-google,
.containers-page a.btn-apple {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #07152a;
  height: 40px;
  width: 125px;
  background-position: center center;
  background-size: cover;
}

.containers-page a.btn-google {
  background-image: url("/images/btn-google.jpg");
}
.containers-page a.btn-apple {
  background-image: url("/images/btn-apple.jpg");
}
