<div class="containers-page">

    <div>
        <div class="block-text">
            <h1>
                Инвестируйте легко и получайте доход
            </h1>
            <div class="opis">
                Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме.
                Зарабатывайте легко и с минимальными рисками
                через мобильное приложение Сopybro.
            </div>
            <button>Установить приложение</button>
            <div>
                <a href="#google" class="btn-google"></a>
                <a href="#apple" class="btn-apple"></a>
            </div>
        </div>
        <div class="block-img">
            <img src="/images/i1.jpg" />
        </div>
    </div>

    <div>
        <div class="block-img">
            <img src="/images/i2.jpg" />
        </div>
        <div class="block-text">
            <h1>
                Автоследование: минимальные риски, оптимальная доходность
            </h1>
            <div class="opis">
                Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их
                доходности.
                Трейдер
                ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.
            </div>
        </div>
    </div>

</div>